---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Adam Bossy-Mendoza | Tech Leader, Prompt Architect, Engineering Executive">
  <div class="pt-20 pb-8 bg-gray-200">
    <div class="max-w-3xl mx-auto px-4">
      <div class="flex flex-col md:flex-row md:gap-8 md:items-start">
        <div class="flex-1">
          <h1 class="text-5xl font-bold mb-6">About Me</h1>
          <p class="text-lg text-gray-600 mb-8 md:mb-0">   
I thrive in the chaos of a startup environment. I embrace trying new things and love wearing many hats to create and deliver something valuable for people.</p>
        </div>
        <img src="https://res.cloudinary.com/dwt45tvzy/image/upload/t_Profile Picture/v1740535265/profile_u3msba.jpg"
          alt="Adam Bossy-Mendoza"
          class="w-40 h-56 object-cover object-top rounded-lg mx-auto md:mx-0"
        />
      </div>
    </div>
  </div>

  <div class="max-w-3xl mx-auto px-4 py-12">
    <div class="grid md:grid-cols-2 gap-12 mb-16">
      <div>
        <h2 class="text-3xl font-bold mb-8 text-gray-900">Highlights</h2>
        
        <div class="mb-10">
          <h3 class="text-xl font-semibold mb-2">AI Engineering Focus</h3>
          <p class="text-gray-700">
I’m deep in the current wave of AI engineering initiatives, developing mental models and strategies for reliable and scalable LLM application design. I quit my last corporate job just before ChatGPT hit the scene and got an early start in this space.
          </p>
        </div>
        
        <div class="mb-10">
          <h3 class="text-xl font-semibold mb-2">Hypergrowth Experience</h3>
          <p class="text-gray-700">
I’ve worked at three hypergrowth tech companies through critical stages of funding and growth, including two (<a href="https://affirm.com/">Affirm</a> and <a href="https://patreon.com/">Patreon</a>) that became household names during my time there.
          </p>
        </div>
        
      </div>
      
      <div>
        <h2 class="text-3xl font-bold mb-8 text-gray-900">Superpowers</h2>
        
        <div class="mb-10">
          <h3 class="text-xl font-semibold mb-2">Engineering Foresight</h3>
          <p class="text-gray-700">
            My experience at successful venture-backed companies at all stages has granted me the ability to look around corners and avoid costly mistakes. My ability to “right-size” technical solutions for the stage of my startup environment maximies my impact and that of those around me.
          </p>
        </div>
        
        <div class="mb-10">
          <h3 class="text-xl font-semibold mb-2">Effective Translator and Mentor</h3>
          <p class="text-gray-700">
            I can connect the business goals to personal goals to help motivate my team and the people around me. I’ve mentored folks at all levels, and I’m world-class at translating complex technical concepts to non-stakeholders.
          </p>
        </div>
        
        <div class="mb-10">
          <h3 class="text-xl font-semibold mb-2">Pinch Hitter</h3>
          <p class="text-gray-700">
            I can spread my wings to data science, product, design, marketing and recruiting in a pinch, allowing me to move at lightning speed to unblock myself or my team and avoiding the costly wait cycles. 
          </p>
        </div>
                
      </div>
    </div>
    
  </div>
</Layout>